
<div id="skills">
</div>

<h2>Skills</h2>

  <table id="skills-tab" class="table table-borderless" style="text-align: center; color: #808080;">

    <thead>
      <tr>
        <th scope="col">Frameworks</th>
        <th scope="col">Backend</th>
        <th scope="col">Frontend</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i class="devicon-flask-original-wordmark colored"></i>
        </td>
        <td>
          <i class="devicon-python-plain-wordmark"></i>
        </td>
        <td>
          <i class="devicon-css3-plain-wordmark colored"></i>
        </td>
      </tr>
      <tr>
        <td>
          <i class="devicon-dotnetcore-plain colored"></i>
        </td>
        <td>
          <i class="devicon-csharp-plain colored"></i>
        </td>
        <td>
          <i class="devicon-html5-plain-wordmark"></i>
        </td>
      </tr>
      <tr>
        <td>
          <i class="devicon-dot-net-plain-wordmark"></i>
        </td>
        <td>
          <i class="devicon-postgresql-plain-wordmark colored"></i>
        </td>
        <td>
          <i class="devicon-bootstrap-plain-wordmark colored"></i>
        </td>
      </tr>
    </tbody>
  </table>

